<div class="box contact-cta">
  <h1 class="title">Contact Your Congressional Representative</h1>
  <form class="field is-grouped" method="POST" action="/act/">
    <p class="control is-expanded">
      <input class="input" type="text" name="address" placeholder="Address/ZIP Code" value="{{stateName}}">
    </p>
    <p class="control">
      <button class="button is-danger" type="submit">
        Lookup
      </button>
    </p>
  </form>
  <p class="hint">We will not store your address. Your location data is only used to find your local congressional representatives.</p>
</div>