{{#extend 'title'}}About{{/extend}}
{{#extend 'description'}}Project Inspiration{{/extend}}
{{#extend 'actionButton'}}<a href="/">« Back</a>{{/extend}}

<div class="article">
  <p>
    With the recent rise of the Black Lives Matter (BLM) movement, you have probably heard of the slogan
    <strong>"defund the police!"</strong> Your reaction could have been one of many: anger, enthusiasm, or maybe just
    plain confusion.
  </p>
  <p>
    <strong>Why do they want to defund the police?</strong> There are many possible reasons. The first is that the
    police are <strong>simply ineffective</strong> and the money going to the police is wasted. Fewer than 5% of the
    10.5 million annual arrests made by the police are for violent crimes, yet many murders, rape cases, and domestic
    abuse cases remain unsolved or ignored. Thus rises the idea that the police <strong>just have too much on their
      plate.</strong> The average police training is 21 weeks, which is less than half a year. Yet police cover crises
    ranging from mental health, traffic control, to murder. <strong>They may not be properly equipped</strong> to deal
    with all of it. There are countless stories of police improperly dealing with mentally ill people or creating
    medical emergencies, such as the case with Elijah McClain. After arresting black, 23-year old Elijah for looking
    suspicious, the police gave him a panic attack and then administered 500 mg of ketamine (a sedative), which ended
    up killing him.
  </p>
  <p>
    Defunding the police could <strong>reallocate the money</strong> to support separate services for <strong>trained
      professionals,</strong> such as psychologists, that could handle the situation better. The biggest issue is that
    the police seem to be <strong>racist and classist.</strong> The history of police is rooted in slave patrols and
    the institutionalized racism is still around. In the 1960s, President Lyndon B. Johnson started the <strong>"war
      on crime"</strong> and increased police budgets around the nation that never came down, despite lowering crime
    rates. This led to over-policing in poorer areas and areas with lots of minorities, especially black people.
    Over-policing minorities only increased later with the <strong>"war on drugs."</strong> Black Americans are
    <strong>2.7 times as likely to be arrested</strong> for drug usage or possession as white Americans, despite have
    <strong>very similar rates of usage/possession.</strong> So, not only has the police been ineffective at stopping
    violent crimes with their budget, they have been <strong>targeting black and underprivileged communities</strong>
    through over-policing.
  </p>
  <p>
    Now that you know what <strong>your tax money</strong> is supporting, you can parse through ParsePD (haha) and see
    how much police are funded. If you feel that they have too much, or too little, enter your ZIP code and we will
    find you the contact of your congressional representatives. Feel free to <strong>write them an email voicing your
      opinion.</strong> This is what democracy is about!
  </p>
</div>