{{#extend 'title'}}Credits & Sources{{/extend}}
{{#extend 'actionButton'}}<a href="/">« Back</a>{{/extend}}


<div class="article">
  <p>US Census Bureau. 2000, updated annually. Annual Survey of State and Local Government Finances, 1977-2017. Compiled
    by
    the Urban-Brookings Tax Policy Center. Washington, DC: Urban-Brookings Tax Policy Centers (2015). Accessed on:
    August 7, 2020.</p>

  <p>Lincoln Institute of Land Policy. Fiscally Standardized Cities database.
    [http://www.lincolninst.edu/research-data/data-toolkits/fiscally-standardized-cities/search-database](http://www.lincolninst.edu/research-data/data-toolkits/fiscally-standardized-cities/search-database)
    Accessed on: August 7, 2020</p>

  <p>Kesic, D. (2013). The role of mental disorders in use of force incidents between the police and the public. In D.
    Chappell
    (Ed.), Policing and the mentally ill: International perspectives (pp. 153–170). Boca Raton, FL: CRC Press.</p>

  <p>Additional information from: Arrest Trends, Vera Institute of Justice; Bureau of Labor Statistics; Carson 2015;
    Census Bureau; FBI 2015.</p>

</div>